*{
    margin :0;
    padding :0;
    box-sizing : border-box;
    font-family: 'Poppins',sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding :5%;
    background-image: linear-gradient(rgba(255,255,255,0.2),rgba(0, 0, 0, 0.9)),url(images/bg2.jpg);
    background-position: center;
    background-size:cover ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container input
{
    width:85%;
    max-width: 700px;
    background:rgba(255,255,255,0.2) ;
    display:flex ;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px)4px saturate(100%);
}
/* .container input
{
    width:100%;
    background:transparent;
    flex: 1;
    border: 0;
    outline:none;
    padding: 24px 20px;
    font: size 20PX;
    COLOR: #cac7ff
} */
::placeholder
{
    color: azure;
}
.container button img {
    width: 25px ;
}
.container button
{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height:60px;
    background: #7c819b;
    cursor: pointer
}